[Unit]
Description=Seeed Voicecard service
After=user@1000.service sound.target alsa-restore.service
Wants=user@1000.service sound.target alsa-restore.service
Requires=user@1000.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/seeed-voicecard-v2
ExecStartPost=/bin/systemctl disable %n
Restart=on-failure
RestartSec=10s
User=root
 
[Install]
WantedBy=multi-user.target
