[Unit]
Description=PiCompose - Docker-Compose-Manager
After=network-online.target docker.service systemd-timesyncd.service
Wants=network-online.target docker.service systemd-timesyncd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/compose-manager.sh boot
RemainAfterExit=yes
User=root

[Install]
WantedBy=default.target
