[Unit]
Description=Keep soundcard alive (play silence)
After=user@1000.service sound.target alsa-restore.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/keep-audio-alive.sh
Restart=always
User=root
StandardOutput=null

[Install]
WantedBy=default.target
