[Unit]
Description=Keep soundcard alive (play silence)
After=user@1000.service sound.target alsa-restore.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'while [ ! -S /run/user/1000/pipewire-0 ]; do sleep 0.1; done'
ExecStart=/usr/bin/keep-audio-alive.sh
Restart=always
User=root
StandardOutput=null

[Install]
WantedBy=multi-user.target
