[Unit]
Description=PiCompose - Configure Audio volume setting
After=user@1000.service sound.target alsa-restore.service user@1000.service:pipewire.service
Wants=user@1000.service sound.target alsa-restore.service user@1000.service:pipewire.service

[Service]
Type=oneshot
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/configure_audio.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
