name: Build PiCompose (Template)

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
        description: "Final image name"
      stage-list:
        required: true
        type: string
        description: "Comma or whitespace separated list of stages to execute"
      compression:
        required: false
        type: string
        default: "xz"
        description: "Compression to apply on final image (none, zip, xz, gz)"
      compression-level:
        required: false
        type: string
        default: "6"
        description: "Compression level 0-9"
      custom-hostname:
        required: false
        type: string
        default: "picompose"
        description: "Host name of the image"
      enable-rpi-imager-snippet:
        required: false
        type: boolean
        default: false
        description: "Enable rpi-imager.json snippet generation"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Restore package cache
        uses: actions/cache@v4
        with:
          # Unpacking directly into /var/cache would result in permission errors
          # so we need to work around this a bit.
          path: apt-cache/
          key: ${{ runner.os }}-${{ github.job }}-${{ inputs.image-name }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}
            ${{ runner.os }}

      # TEST
      - name: TEST
        run: |
          echo TEST
