name: Build PiCompose

on:
  push:
    branches:
      - main
      - feature/*
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-image-template.yml
    with:
      image-name: PiCompose
      stage-list: stage0 stage1 stage2 ./04-stage-finish
      compression: zip
      compression-level: 6
      custom-hostname: picompose
